%table.table.visited.tablesorter
  %thead
    %tr
      %th 名称
      %th 大小
      %th 创建日期
      %th 最近访问
      %th 创建人
      %th 操作
  %tbody
  - list.each do |de|
    %tr
      %td
        %a{:href=>"/degust/config.html?code=#{de.secure_id}"}
          = de.name || "<未命名>"
      %td{"data-val" => de.user_file.size}
        = number_to_human_size(de.user_file.size)
      %td.smaller{"data-val" => de.created_at.to_i}
        = de.created_at.to_formatted_s(:db)
      %td.smaller{"data-val" => de.last_visit_by(current_user).last.to_i}
        = de.last_visit_by(current_user).last.to_formatted_s(:db)
      -#   = moment(val.last).format("MMMM Do YYYY, h:mm:ss a")}
      %td
        = de.user.nil? ? '<匿名>' : de.user.name
      %td
        = link_to "查看", de_setting_path(de.secure_id),
          :class => 'btn btn-info btn-xs'
        - if de.user == current_user
          = link_to "删除", de_setting_path(de.secure_id),
            :method => :delete,
            :class => 'btn btn-danger btn-xs',
            :data =>  { confirm: '确定要删除该数据吗？' }

:javascript
  $.tablesorter.addParser({
    // set a unique id
    id: 'data',
    is: function(s, table, cell, $cell) {
      // return false so this parser is not auto detected
      return false;
    },
    format: function(s, table, cell, cellIndex) {
      var $cell = $(cell);
      return $cell.attr('data-val') || s;
    },
    // flag for filter widget (true = ALWAYS search parsed values; false = search cell text)
    parsed: false,
    // set type, either numeric or text
    type: 'numeric'
  });

  $('.tablesorter').tablesorter({
    theme : 'blue',
    headers: {
        1 : { sorter: 'data' },
        2 : { sorter: 'data' },
        3 : { sorter: 'data' },
        5 : { sorter: false },
     },
  });
