= content_for :title, "Degust - sessions"

.container

  .row
    .col-md-12
      .page-header
        %h1 保存的数据

  - if !current_user.nil?
    .row
      .col-md-12
        你的登录身份是
        %b #{current_user.name}
        通过
        %b #{if current_user.provider == "github" then "github" else "weibo" end}

  .row
    .col-md-12
      .mine
        - if @mine.length
          %h4 我的数据集
          = render :partial => "table", :locals => { :list => @mine }
      .visited
        - if @others.length
          %h4 共享数据集
          = render :partial => "table", :locals => { :list => @others }
